@model TestsWeb.Models.Computer

@{
    ViewBag.Title = "GetComp";
}

<h2>Информация о выбранном компьютере</h2>

@Html.Display("mac_adress"); <br />
@Html.Display("ip_adress"); <br />
@Html.Display("user_name"); <br />
@Html.Display("os_version"); <br />

